<div class="modal-header">
    <h5>相册添加</h5>
</div>
<form name="form"  class="form-horizontal" role="form" novalidate>
    <div class="modal-body">
        <input type="hidden" ng-model="album.album_id" name="album_id">
        <input type="hidden" ng-model="album.parent_id" name="parent_id">
        <div class="form-group">
            <div class="col-lg-12 col-md-12 col-sm-12" ng-class="{'has-success': form.name.$valid, 'has-error': form.name.$dirty && form.name.$invalid}">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 相册名称 </label>
                <div class="col-sm-9">
                    <input type="text" name="name" ng-model="album.name" autofocus id="form-field-1" placeholder="相册名称" required
                           class="col-xs-10 col-sm-5"/>
                    <p class="help-block error" ng-show="form.name.$dirty && form.name.$invalid">
                        靖输入相册名称</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ok()">提交</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</form>
