<div class="upload-header breadcrumbs">
    <h5>上传图片</h5>
    <i class="icon-remove upload-close" ng-click="cancel()">&nbsp;</i>
</div>
<div class="picupload-body modal-body" ng-controller="FileUploadCtrl">
    <div class=" fileupload-buttonbar form-group">
        <div class="col-lg-8 col-md-8 col-sm-8">
            当前位置：
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" style="text-align: left">
                <span class="btn btn-sm btn-success fileinput-button">
                    <i class="icon-edit"></i>
                    <span>修改位置</span>
                </span>
        </div>
    </div>


</div>