<div class="image toggle">
    <div class="base-msg">
        <div class="img-container"><img
                src="{{CONST 'PIC_URL'}}/{{picUrl serverPath 5}}?v={{uploadTime}}"
                alt=""></div>
        <div class="img-name" title="{{name}}">{{title}}</div>
        <div class="qout icon"></div>
        <ul class="handle clearfix">
            {{#compare attId '===' ''}}
            <li class="upload-local" style="width: 35%;color:#fff;">本地上传</li>
            <li class="upload-source" style="width: 45%;color:#fff;">我的资源库</li>
            {{else}}
            <li class="move-up"
                    ><i class="icon icon-white icon-arrow-left"></i></li>
            <li class="move-down"
                    ><i class="icon icon-white icon-arrow-right"></i></li>
            <li class="delete"
                title="删除图片"><i class="icon icon-white icon-trash"></i></li>
            {{/compare}}

        </ul>
    </div>
</div>