.DS_Store
npm-debug.log
.idea/
.settings
/.sass-cache
*.iml
*.swp
/.tmp/
/node_modules
/bower_components
/app/bower_components
/dist
/doc
/uploads
/logs
/test
/config.js
app/scripts/config/config.local.js


