<td class="  bui-grid-cell grid-td-col2">
    <div class="bui-grid-cell-inner"><span class="bui-grid-cell-text">{{plus dx 1}}</span></div>
</td>
<td class="bui-grid-cell ">
    <div class="lty-inner-div"><span class=""><input id="model-name" class="" value="{{name}}" type="text"/></span></div>
</td>
<td class="bui-grid-cell ">
    <div class="lty-inner-div"><span class=""><input id="model-prob" type="text" value="{{prob}}"/></span></div>
</td>
<td class="bui-grid-cell ">
    <div class="lty-inner-div"><span class=""><input id="model-level" type="text" value="{{level}}"/></span></div>
</td>
<td class="bui-grid-cell ">
    <div class="lty-inner-div"><span class=""><input id="model-sum" type="text" value="{{sum}}"/></span></div>
</td>
<td class="bui-grid-cell ">
    <div class="lty-inner-div"><span class=""><input id="model-remain" type="text" value="{{remain}}"/></span></div>
</td>
<td class="bui-grid-cell ">
    <div class="lty-inner-div"><span class=""><input id="model-info" type="text" value="{{info}}"/></span></div>
</td>
<td class="bui-grid-cell ">
    <div class="lty-inner-div"><span class=""><img
            src="{{CONST 'PIC_URL'}}/{{picUrl pic 6}}"
            alt=""><!--{{pic}}--><a class="btn-img-edit" href="javascript:;">[修改]</a></span></div>
</td>
<td class="bui-grid-cell ">
    <div class="lty-inner-div"><i class="icon icon-remove pointer delete"></i></div>
</td>