music<form id="J_Form" action="" class="form-horizontal">
    <style>
        .island {
            padding: 1.5rem;
        }

        .wrap {
            max-width: 38rem;
            margin: 0 auto;
        }

        .subhead, .meta {
            color: #7b8993;
        }

        .site__title {
            color: #f35626;
            background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-animation: hue 60s infinite linear;
        }

        .bui-grid {
            width: 250px;
            overflow: hidden;
        }

        .form-horizontal .control-label {
            width: 60px;
        }
    </style>
    <div class="bui-grid bui-simple-list bui-grid-width bui-grid-hover bui-simple-list-hover" style="background: none;">
        <div class="control-group">
            <label class="control-label"
                   style="background: none; text-align: left;padding: 0px 0 0 12px;">方 式：</label>

            <div class="controls">
                <div id="s1">
                    <input id="model-animate" type="hidden" name="model-animate" value="{{animate}}"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="background: none; text-align: left;padding: 0px 0 0 12px;">延迟时间：</label>

            <div class="controls">
                <input id="model-delay" type="text" title="[动画执行前所需的时间]" class="input-small" name="model-delay"
                       value="{{delay}}"/> 秒
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="background: none; text-align: left;padding: 0px 0 0 12px;">动画周期：</label>

            <div class="controls">
                <input id="model-duration" type="text" class="input-small" title="[完成一次动画所需的时间]" name="model-duration"
                       value="{{duration}}"/>
                秒
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="background: none; text-align: left;padding: 0px 0 0 12px;">执行次数</label>

            <div class="controls">
                <input id="model-count" type="text" class="input-small" name="model-count" value="{{count}}"/> 次
            </div>
        </div>
    </div>
</form>