html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, strong, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}

html, body, label, table {
    font-size: 12px;
}

a:focus {
    outline: 0 none;
}

a:active {
    outline: 0 none;
}

ol, ul {
    list-style: none outside none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

a {
    color: #666666;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
}

a:hover {
    color: #666666;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pointer {
    cursor: pointer;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.textLeft {
    text-align: left;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

.disabled {
    display: none;
}

.txtInput {
    border: 1px solid #ABADB3;
    height: 20px;
    width: 150px;
}

.popupTabBody .ui-tabs {
    border: 0 none;
    color: #555555;
    padding: 0;
    position: relative;
}

.popupTabBody .ui-tabs .ui-tabs-panel {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border-width: 0;
    display: block;
    padding: 1em 1.4em 0;
}

.popupTabBody .ui-tabs .ui-tabs-hide {
    display: none !important;
}

.popupTabBody .ui-tabs .ui-tabs-nav {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #E4E5E4;
    border-color: -moz-use-text-color -moz-use-text-color #BFBFBF;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    margin-top: -1px;
    padding: 0 0 0 11px;
}

.popupTabBody .ui-tabs .ui-tabs-nav li {
    border-bottom: 0 none !important;
    float: left;
    list-style: none outside none;
    margin: 0 0 0 -1px;
    padding: 0;
    position: relative;
    top: 1px;
    white-space: nowrap;
}

.popupTabBody .ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.3em 1em;
    text-decoration: none;
}

.popupTabBody .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: 0;
    padding-bottom: 1px;
}

.popupTabBody .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
}

.popupTabBody .ui-tabs .ui-tabs-nav li.ui-state-default {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border-color: -moz-use-text-color #BFBFBF;
    border-image: none;
    border-style: none solid;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: 0 1px;
}

.popupTabBody .ui-tabs .ui-tabs-nav li.ui-state-active {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/image/comm/fai/ui-bg_faitab_ffffff_1x27.png?v=201310170037") repeat-x scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #BFBFBF;
    border-image: none;
    border-style: none solid;
    border-width: 0 1px;
}

.popupTabBody .ui-tabs .ui-tabs-nav li.ui-state-active a:visited {
    color: #333333;
    font-weight: 600;
}

.popupTabBody .ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}

.saveButton {
    background: none repeat scroll 0 0 #49A3FF;
    border: 1px solid #0064B5;
    color: #FFFFFF;
}

.saveButton:hover {
    background: none repeat scroll 0 0 #5FBBFF;
    border: 1px solid #3298FE;
    color: #FFFFFF;
}

.saveButton:active {
    background: none repeat scroll 0 0 #49A3FF;
    border: 1px solid #0064B5;
    color: #FFFFFF;
}

.saveButton:disabled {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CECECE;
    color: #D1D1D1;
}

.cancelButton {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #8F8F8F;
    color: #666666;
}

.cancelButton:hover {
    background: none repeat scroll 0 0 #E8F3FE;
    border: 1px solid #3298FE;
    color: #666666;
}

.cancelButton:active {
    background: none repeat scroll 0 0 #D3E9FF;
    border: 1px solid #3298FE;
    color: #666666;
}

.cancelButton:disabled {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CECECE;
    color: #D1D1D1;
}

.setLine {
    height: 24px;
    line-height: 24px;
    margin: 2px 0;
}

.setchLine {
    height: 55px;
}

.setTitle {
    float: left;
    height: 24px;
    line-height: 24px;
    text-align: right;
    width: 80px;
}

.setCtrl {
    float: left;
    height: 24px;
    line-height: 24px;
}

.setRadioCtrl span {
    cursor: pointer;
}

.paInput {
    width: 200px;
}

.whInput {
    width: 60px;
}

.nmInput {
    width: 140px;
}

.searchInput {
    text-align: center;
    width: 80px;
}

.mapContainer {
    overflow: hidden;
}