<div ng-repeat="alert in alerts" class="msgtip" close="closeAlert($index)" ng-show="$last"><p
        class="inner {{alert.type}}">{{alert.msg}}</p></div>

<script type="text/ng-template" id="cates_renderer.html">
    <tr>
    <!--选择框-->
    <td width="30" class="center  sorting_1" header="'ng-table/headers/checkbox.html'">
        <label>
            <input type="checkbox" name="ch" class="ace checkProducts" indexValue="{{$index}}"
                   fieldValue="{{cate.product_id}}" ng-checked="checkAll"
                   ng-click="cate.$selected = !cate.$selected; changeSelection(cate.product_id,cate.$selected)"/>
            <span class="lbl"></span>
        </label>
    </td>
    <td>
        <a class="blue" href="javascript:;" tooltip="展开分类" ng-click="extend(cate)" ng-show="!cate.extend">
            <i class="icon-caret-right bigger-130"></i>
        </a>
        <a class="blue" href="javascript:;" tooltip="折叠分类" ng-click="extend(cate)" ng-show="cate.extend">
            <i class="icon-caret-down bigger-130"></i>
        </a>
        <input type="text" ng-model="cate.name" name="name">
        <a href="javascript:;">添加子分类</a>
    </td>
    <!--分类图片-->
    <td>
        <a data-nodrag class="blue" ng-class="{grey:!cate.image}" href="javascript:;" tooltip="分类图片"
           ng-click="editPic(cate)">
            <i class="icon-picture bigger-130"></i>
        </a>
    </td>
    <!--创建时间-->
    <td class="visible-md visible-lg hidden-sm hidden-xs" sortable="update_time"
        filter="{'update_time' : 'text'}">
        {{cate.add_time | date:'yyyy-MM-dd' }}
    </td>
    <!--排序-->
    <td class="hidden-xs" sortable="'sort'" filter="{ 'sort': 'text' }">
        <!--<input class="hidden-sm hidden-xs" type="text"  ng-blur="setSort(product)" ng-model="product.sort" style="width:50px;"/>-->
        <a data-nodrag ng-class="{grey: $first, green: !$first }" class="green" href="javascript:;" tooltip="上移"
           ng-click="moveUp($index, $first)">
            <i class="icon-arrow-up bigger-130"></i>
        </a>
        <a data-nodrag ng-class="{grey: $last, blue: !$last }" href="javascript:;" tooltip="下移"
           ng-click="moveDown($index, $last)">
            <i class="icon-arrow-down bigger-130"></i>
        </a>
    </td>
    <!--操作-->
    <td>
        <div class="div-op-l mr5">
            <a data-nodrag class="blue" href="javascript:;" tooltip="修改产品">
                <i class="icon-pencil bigger-130"></i>
            </a>
            <a data-nodrag class="pink hidden-sm hidden-xs" tooltip="SEO修改" href="javascript:;">
                <i class="icon-search bigger-130"></i>
            </a>
            <a class="red" href="javascript:;">
                <i class="icon-trash bigger-130"></i>
            </a>
        </div>
    </td>
    </tr>
</script>





<div ng-controller="ProductCateCtrlV2">
    <div class="page-header list-header-tool">
        <a class="btn btn-primary" ng-click="">添加分类</a>
        <a class="btn btn-primary" ng-click="locationUrl('/product_cate', '产品分类')">返回旧版</a>
    </div>
    <table cellpadding="0" cellspacing="0" class="table table-striped table-bordered table-hover dataTable">
        <thead>
        <tr>
            <th><label><input type="checkbox" class="ace" ng-checked="checkAll" ng-click="checkAllFn()"/><span
                    class="lbl"></span> </label></th>
            <th class="sorting" ng-click="sortByColum('name')">分类名称</th>
            <th>分类图片</th>
            <th class="sorting visible-md visible-lg hidden-sm hidden-xs th-time-min" ng-click="sortByColum('add_time')"
                style="width:135px;">
                <i class="icon-time bigger-110 hidden-480"></i>
                创建时间
            </th>
            <th class="hidden-xs th-sort-min" ng-click="sortByColum('sort')">排序</th>
            <th class="th-operate-min" style="width:80px;">操作</th>
        </tr>
        </thead>
        <tbody ng-repeat="cate in cates track by $index" ng-include="cates_renderer.html">

        </tbody>
    </table>
</div>
