<div class="modal-header">
    <h5>产品标签添加</h5>
    <i class="icon-remove upload-close" ng-click="cancel()">&nbsp;</i>
</div>
<form name="form"  class="form-horizontal" role="form" novalidate>
<div class="modal-body">
    <input type="hidden" ng-model="tag.tag_id" name="tag_id">
    <div class="form-group clearfix" ng-class="{'has-success': form.title.$valid, 'has-error': form.tag.$dirty && form.tag.$invalid}">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 标签名称 </label>
        <div class="col-sm-9">
            <span class="required">*</span>
            <input type="text" name="title" ng-model="tag.title" autofocus id="form-field-1" placeholder="标签名称" required
                   class="col-xs-10 col-sm-5"/>
            <p class="help-block error" ng-show="form.title.$dirty && form.title.$invalid">
                靖输入标签名称</p>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ok()">提交</button>
    <button class="btn btn-warning" ng-click="cancel()">关闭</button>
</div>
    </form>