<div ng-repeat="alert in alerts" class="msgtip"   close="closeAlert($index)" ng-show="$last"><p class="inner {{alert.type}}">{{alert.msg}}</p></div>
<div ng-controller="ProductUploadCtrl" ng-class="{ m10 : product.dialog_show}">
    <form id="fileupload" name="fileupload" action="http://api.example.com/upload" method="POST"
          enctype="multipart/form-data"
          data-ng-controller="FileUploadController" data-file-upload="upload_opts"
          data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
        <!--图片添加栏-->
        <div class=" fileupload-buttonbar form-group">
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-6"> 注:进行批量上传产品前请先确保相册里面有相应的产品图片,excel里的图片名称必须跟相册里面的图片名称对应,点此<a href="/#/gallery_list" target="_blank">上传图片</a>，<a href="/download/productMulti.xlsx" target="_blank">下载excel模板</a></div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-6">
                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>添加excel</span>
                    <input type="file" name="files[]" multiple ng-disabled="disabled">
                </span>
                <span class="fileupload-process"></span>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-6"><input type="text" ng-model="filename" ng-disabled="true"/>
            <input type="hidden" ng-model="att_id">
            </div>
        </div>
        <div class="hide fade" data-ng-class="{in: active(),show : active()}">
            <div class="progress progress-striped active" data-file-upload-progress="progress()">
                <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
            </div>
            <div class="progress-extended">&nbsp;</div>
            <input ng-model="file_path" name="file_path"/>

        </div>
        <div class="clearfix form-actions">
            <div class=" col-md-9">
                <button class="btn btn-info" type="button" ng-click="doupload()" ng-disabled="!btn_is_true">
                    <i class="icon-ok bigger-110"></i>
                    开始上传
                </button>
            </div>
        </div>

    </form>
</div>
