<div ng-repeat="alert in alerts" class="msgtip"   close="closeAlert($index)" ng-show="$last"><p class="inner {{alert.type}}">{{alert.msg}}</p></div>
<script type="text/ng-template" id="cates_renderer.html">
    <div ui-nested-sortable-handle class="dd-handle">
        <a class="btn btn-info btn-xs btn-cate" data-nodrag="" ng-click="toggle(this)"><span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>&nbsp;&nbsp;&nbsp;{{cate.name}}
        <div class="pull-right action-buttons visible-md visible-lg hidden-sm hidden-xs">
            <a data-nodrag   ng-class="{grey: $first, green: !$first }" class="green hidden-sm hidden-xs" href="javascript:;" tooltip="上移" ng-click="moveUp($index, $first, cate)" >
                <i class="icon-arrow-up bigger-130"></i>
            </a>
            <a data-nodrag  ng-class="{grey: $last, blue: !$last }" href="javascript:;" class="hidden-sm hidden-xs" tooltip="下移" ng-click="moveDown($index, $last, cate)" >
                <i class="icon-arrow-down bigger-130"></i>
            </a>
            <input type="text" required ng-model="cate.sort" ng-blur="updateSort(cate)" data-nodrag style="width:50px;"/>
            <label tooltip="是否显示" data-nodrag>
                <input name="switch-field-1" ng-model="cate.display" ng-click="display(cate)" ng-checked = "{{cate.isdisplay==='1' ? 'true' : 'false'}}"
                       class="ace ace-switch ace-switch-4" type="checkbox">
                <span class="lbl"></span>
            </label>
            <a data-nodrag class="green" href="javascript:;"  ng-show="cate.grade != '04'" tooltip="添加下属分类" ng-click="add(cate,this)">
                <i class="icon-plus bigger-130"></i>
            </a>
            <a data-nodrag class="grey"  ng-show="cate.grade == '04'" href="javascript:;" tooltip="分类最多只能添加四级" >
                <i class="icon-plus bigger-130"></i>
            </a>
            <a data-nodrag class="blue" href="javascript:;" tooltip="修改分类" ng-click="edit(cate)">
                <i class="icon-pencil bigger-130"></i>
            </a>
            <a data-nodrag class="blue" ng-class="{grey:!cate.image}" href="javascript:;" tooltip="分类图片" ng-click="editPic(cate)">
                <i class="icon-picture bigger-130"></i>
            </a>
            <a data-nodrag class="blue"  href="javascript:;" tooltip="分类广告" ng-click="editAdPic(cate)">
                <i class="icon-tag bigger-130"></i>
            </a>
            <a data-nodrag class="red" href="javascript:;" tooltip="删除分类" ng-click="del(cate,this)">
                <i class="icon-trash bigger-130"></i>
            </a>
            <a data-nodrag class="pink" tooltip="SEO修改" href="javascript:;" ng-click="seo(cate)">
                <i class="icon-search bigger-130"></i>
            </a>
        </div>
        <div data-nodrag class="pull-right action-buttons visible-xs visible-sm hidden-md hidden-lg ie7_ie8_hidden">
            <div class="inline position-relative">
                <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-caret-down icon-only bigger-120"></i>
                </button>
                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                    <li>
                        <a data-nodrag class="green" href="javascript:;" tooltip="添加下属分类" ng-click="add(cate,this)">
                            <i class="icon-plus bigger-130"></i>
                        </a>
                    </li>
                    <li>
                        <a data-nodrag class="blue" href="javascript:;" tooltip="修改分类" ng-click="edit(cate)">
                            <i class="icon-pencil bigger-130"></i>
                        </a>
                    </li>
                    <li>
                        <a data-nodrag class="red" href="javascript:;" tooltip="删除分类" ng-click="del(cate,this)">
                            <i class="icon-trash bigger-130"></i>
                        </a>
                    </li>
                    <li>
                        <a data-nodrag class="pink" tooltip="SEO修改" href="javascript:;" ng-click="seo(cate)">
                            <i class="icon-search bigger-130"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ol ui-nested-sortable="options" ng-model="cate.cates">
        <li class="" ng-repeat="cate in cate.cates" ui-nested-sortable-item=""
            ng-include="'cates_renderer.html'"></li>
    </ol>
</script>
<div ng-controller="ProductCateCtrl" style="padding:10px;">
    <div class="">
        <div class="page-header list-header-tool">
            <a class="btn btn-primary" ng-click="add()">添加一级分类</a>
            <a class="btn btn-primary" ng-click="locationUrl('/product_cate_v2', '产品分类')">新版体验</a>
        </div>
        <input ng-show="isChange" type="button" ng-click = "" class="btn btn-info" value="保存"/>
        <div class="dd">
            <ol ui-nested-sortable="options" ng-model="cates" class="dd-list">
                <li class="dd-item" ng-repeat="cate in cates" ui-nested-sortable-item=""
                    ng-include="'cates_renderer.html'"></li>
            </ol>
        </div>
    </div>
    <!-- PAGE CONTENT ENDS -->
</div>
