<div class="modal-header" ng-show="product.show_header">
    <h5>SEO修改</h5>
</div>
<div class="modal-body" ng-class="{ m10 : product.dialog_show}">
    <div class="form-group clearfix">
        <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1  control-label no-padding-right">SEO标题</label>

        <div class="col-sm-10">
            <input name="seo_title" type="text" ng-model="product.seo_title" class="col-xs-10 col-sm-5"
                   tooltip="如：防盗门、防火门等。注：若留空则使用“产品名称”作为产品浏览器标题"/>
        </div>
    </div>
    <div class="form-group clearfix">
        <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1  control-label no-padding-right">关键词</label>

        <div class="col-sm-10">
            <input name="pkey" type="text" ng-model="product.pkey" class="col-xs-10 col-sm-5" tooltip="如：防盗门、防火门等"/>
        </div>
    </div>
    <div class="form-group clearfix" ng-class="{'has-error': myForm.seo_description.$error.maxlength}">
        <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1  control-label no-padding-right">SEO描述</label>

        <div class="col-sm-10">
            <textarea name="seo_description" ng-maxlength="79" ng-model="product.seo_description"
                      tooltip="限79字内，加联系电话或邮件"></textarea>
        </div>
    </div>
</div>

<div class="modal-footer" ng-show="product.show_btn">
    <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ok()">提交</button>
    <button class="btn btn-warning" ng-click="cancel()">关闭</button>
</div>