<!--
<div class="page-header" ng-show="!product.dialog_show">
    <h1>
        产品管理
        <small>
            <i class="icon-double-angle-right"></i>
            产品修改
        </small>
    </h1>
</div>

<div ng-controller="ProductAddCtrl" ng-class="{ m10 : product.dialog_show}">
    <form name="form" ng-submit="ok()" class="form-horizontal " role="form" novalidate>

        <tabset>
            <tab heading="基本信息">
                <div class="form-group" ng-class="{'has-success': form.name.$valid, 'has-error': form.name.$dirty && form.name.$invalid}">
                    <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1  control-label no-padding-right" for="form-field-1">名称 </label>

                    <div class="col-sm-6">
                            <input name="name" ng-maxlength="60" autofocus  type="text" data-rel="tooltip" id="form-field-1" ng-model="product.name" placeholder="产品名称(不能为空)" class="col-xs-10 col-sm-5" required/>
                        <span class="red">*</span>
                        <span class=" error" ng-show="form.name.$dirty && form.name.$error.required">产品名称不能为空！</span>
                    </div>

                </div>

                <div class="space-4"></div>

                <div class="form-group" ng-class="{'has-success': form.category.$valid, 'has-error': form.category.$dirty && form.category.$invalid}">
                    <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1  control-label no-padding-right">分类</label>

                    <div class="col-sm-10">
                        <select name="category"  ng-model="product.category" ng-options="item.category_id as item.name for item in cates" required>
                            <option value="" default>请选择分类</option>
                        </select><span class="red">*</span>
                        <a href="javascript:;" ng-click="cate_manage()">分类管理</a>
                        <a href="javascript:;" ng-click="cate_add()">增加分类</a>

                    </div>
                </div>

                <div class="form-group" ng-repeat="new_cate in new_cates">
                    <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1  control-label no-padding-right">分类{{$index+2}}</label>

                    <div class="col-sm-10">
                        <select name="new_cate" ng-change="change_new_cates(new_cate,$index)"  ng-model="new_cate" ng-options="item.category_id as item.name for item in cates" required>
                            <option value="" default>请选择分类</option>
                        </select>
                        <a href='javascript:;' ng-click="new_cate_del($index)">删除</a>
                    </div>
                </div>


               <div class="form-group">
                    <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1  control-label no-padding-right">型号</label>

                    <div class="col-sm-10">
                        <input name="protype"  ng-model="product.prodtype" type="text"
                               class="col-xs-10 col-sm-5" >
                    </div>

                </div>
                 <div class="form-group" ng-class="{'has-error': form.price.$dirty && form.price.$invalid}">
                    <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1  control-label no-padding-right">价格</label>

                    <div class="col-sm-10">
                        <input name="price" ng-model="product.price" type="text"  class="col-xs-10 col-sm-5">
                        <p class=" error" ng-show="form.price.$error.number">必须为数字！</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1 control-label no-padding-right">属性</label>

                    <div class="col-sm-10">
                        <select name="type" ng-model="product.type" tooltip="分别对应网站普通、新品、精品模块"  ng-options="protype.type as protype.name for protype in types"></select>
                        <select name="login_view" ng-model="product.login_view" ng-options="l.val as l.name for l in loginViews" tooltip="设置登录可见，用户注册登录后才能浏览此产品"></select>
                        <select name="ads" ng-model="product.ads" ng-options="a.val as a.name for a in adss" tooltip="广告产品对应网站页面上广告产品模块"> </select>
                    </div>


                </div>
                 <div class="form-group" ng-class="{'has-success': form.pic_path.$valid, 'has-error': form.pic_path.$dirty && form.pic_path.$invalid}">
                     <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1 control-label no-padding-right">图片</label>

                     <div class="col-sm-10">

                         <input name="pic_path" ng-model="product.pic_path" type="text" ng-click="openFileDialog(this)" required/><span class="red">*</span>
                         <a href="javascript:;" ng-click="openFileDialog()">选择图片</a>
                     </div>
                 </div>
                <div class="form-group" ng-show="product.pic_path">
                    <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1 control-label no-padding-right" >&nbsp;</label>
                    <div class="col-sm-10">
                        <img ng-src="{{API_END_POINT}}{{product.thumbnail_path}}" height="100">
                    </div>
                </div>
                <div class="form-group">

                     <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1 control-label no-padding-right">内容</label>

                     <div class="col-sm-10">
                         <textarea name="proddesc" id="productContent" ueditor  ng-model="product.proddesc"></textarea>
                     </div>
                 </div>
            </tab>
            <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                <div ng-include="tab.content"></div>
            </tab>
        </tabset>


        <div class="clearfix form-actions">
            <div class=" col-md-9">
                <button class="btn btn-info" type="submit" ng-disabled="form.$invalid">
                    <i class="icon-ok bigger-110"></i>
                    保存
                </button>
            </div>
        </div>
    </form>

</div>
-->
