<div class="form-group">
    <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1  control-label no-padding-right">
        附加图片
    </label>
    <div class="col-sm-10">
        <input type="hidden" name="photos" ng-model="product.photos">
        <ul class="photos no-margin">
            <li ng-repeat="photo in product.photos" ng-mouseenter="photo.hover = true"
                ng-mouseleave="photo.hover=false">
                <img imgcrop="thumb_size" data-width = '100' data-height="100" ng-src="{{API_END_POINT}}{{photo.thumbnail_path}}" alt=""/>
                <div class="transparent-block" ng-show="photo.hover" >
                    <i class="icon-trash" ng-click="photo_delete(photo,$index,$event)" tooltip="删除"></i>
                    <i class="icon-arrow-left" ng-click="photo_move(photo,$index,0,$event)" tooltip="左移" ng-show="$index!=0"></i>
                    <i class="icon-arrow-right" ng-click="photo_move(photo,$index,1,$event)" tooltip="右移" ng-show="$index!=(product.photos.length-1)"></i>
                </div>
            </li>
            <li ng-show="product.photos.length < 8">
                <div class="append-add">
                    <a ng-click="appendPicDialog()">
                        <p style="width:100%;text-align: center;">添加图片</p>
                    </a>
                </div>

            </li>
        </ul>
    </div>
</div>

<div class="form-group clearfix">
    <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1  control-label no-padding-right">
        产品参数
    </label>
    <div class="col-sm-10">
        <input type="hidden" name="params" ng-model="product.paramValues">
        <table class="table-theme1">
            <thead>
            <th><a href="javascript:;" ng-click="addParams()">添加参数</a></th>
            <th>&nbsp;</th>
            <th>操作</th>
            </thead>
            <tr ng-repeat="param in product.paramValues">
                <td>
                    <input type="text" placeholder="参数名称" ng-model="param.name">
                </td>
                <td>
                    <input type="text" placeholder="参数值" ng-model="param.value">
                </td>
                <td>
                    <i class="icon-trash" ng-click="param_delete($index,$event)" tooltip="删除"></i>
                    <i class="icon-arrow-up" ng-click="param_move($index,0,$event)" tooltip="上移"
                       ng-show="$index!=0"></i>
                    <i class="icon-arrow-down" ng-click="param_move($index,1,$event)" tooltip="下移"
                       ng-show="$index!=(product.paramValues.length-1)"></i>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1 control-label no-padding-right">产品标签 </label>
    <div class="col-sm-6">
        <div class="tags col-lg-12" ng-controller="ProductAddTagCtrl">
            <div class="form-group">
                <div class="checkbox"  ng-repeat="item in tags" style="float:left; width:150px;overflow:hidden;white-space: nowrap;">
                    <label>
                        <input name="form-field-checkbox"  type="checkbox" class="ace" ng-checked="isChecked(item)">
                        <span class="lbl" ng-click="saveProTag(item)"> {{item.title}}</span>
                    </label>
                </div>
            </div>

                <span class="input-icon input-icon-right">
                <input type="text" ng-model="product.tagName" ng-enter="addTag(product.tagName)" placeholder="新增标签"
                       tooltip="按回车即可添加">
                <i class="icon-plus green" ng-click="addTag(product.tagName)"></i>
                </span>

        </div>

    </div>
</div>


<div class="form-group clearfix">
    <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1  control-label no-padding-right">
        <input type="text" ng-model="product.detail_title1" name="detail_title1" tooltip="(注:标题为空时,不显示内容)" style="width:70px;">
    </label>

    <div class="col-sm-10">
        <textarea name="detail1" id="detailone" ueditor  ng-model="product.detail1" type="text" />
    </div>

</div>
<div class="form-group">
    <label class="col-xs-2 col-sm-1 col-lg-1 col-md-1  control-label no-padding-right">
        <input type="text" ng-model="product.detail_title2" name="detail_title2" tooltip="(注:标题为空时,不显示内容)" style="width:70px;">
    </label>

    <div class="col-sm-10">
        <textarea name="detail2" id="detailtwo" ueditor  ng-model="product.detail2" type="text" />
    </div>

</div>