<div class="modal-header">
    <h5>产品分类图片</h5>
</div>
<form name="form" class="form-horizontal" role="form" novalidate>
    <div class="modal-body">
        <input type="hidden" ng-model="category.category_id" name="category_id">

        <div class="form-group clearfix"
             ng-class="{'has-success': form.cate_name.$valid, 'has-error': form.cate_name.$dirty && form.cate_name.$invalid}">
            <label class="col-sm-3 control-label no-padding-right"> 图片选择 </label>

            <div class="col-sm-9">
                <input name="pic_path" ng-model="category.image" type="text" ng-click="openFileDialog(this)"
                       required/><span class="red">*</span>
                <a href="javascript:;" ng-click="openFileDialog()">选择图片</a>
                <a href="javascript:;" ng-click="removePic(category)">移除图片</a>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label no-padding-right"> 图片展示 </label>
            <div class="col-sm-9">
                <img ng-show="category.image" src="{{API_END_POINT}}{{category.image}}" height="150"/>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary"  ng-click="ok()">提交</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</form>