<div class="bui-list-picker bui-picker bui-overlay bui-ext-position x-align-bl-tl bui-select-custom"
     aria-disabled="false"
     aria-pressed="false"
     style="visibility: visible;width:{{minus width 2}}px; display: none;">
    {{#if search}}
    <div class="select-search-container">
        <input class="select-search-btn" type="hidden"/>
        <input type="text" class="select-search"  style="width:{{minus width 32}}px;"/>
    </div>
    {{/if}}
    <div class="bui-simple-list bui-select-list" aria-disabled="false" aria-pressed="false">
        <ul class="select-ul">
        </ul>
    </div>
</div>