<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="angular-motion.css"/>
</head>
<body>
<ul tabindex="-1" class="dropdown-menu ng-scope bottom-right am-flip-x" role="menu"
    style="top: 27px; left: 65.20001220703125px; display: block;"><!-- ngRepeat: item in content -->
    <li role="presentation" ng-class="{divider: item.divider}" ng-repeat="item in content" class="ng-scope">
        <!-- ngIf: !item.divider && item.href --> <!-- ngIf: !item.divider && item.click --><a role="menuitem"
                                                                                               tabindex="-1" href=""
                                                                                               ng-if="!item.divider &amp;&amp; item.click"
                                                                                               ng-click="$eval(item.click);$hide()"
                                                                                               ng-bind="item.text"
                                                                                               class="ng-scope ng-binding">修改密码</a><!-- end ngIf: !item.divider && item.click -->
    </li>
    <!-- end ngRepeat: item in content -->
    <li role="presentation" ng-class="{divider: item.divider}" ng-repeat="item in content" class="ng-scope">
        <!-- ngIf: !item.divider && item.href --> <!-- ngIf: !item.divider && item.click --><a role="menuitem"
                                                                                               tabindex="-1" href=""
                                                                                               ng-if="!item.divider &amp;&amp; item.click"
                                                                                               ng-click="$eval(item.click);$hide()"
                                                                                               ng-bind="item.text"
                                                                                               class="ng-scope ng-binding">找回密码</a><!-- end ngIf: !item.divider && item.click -->
    </li>
    <!-- end ngRepeat: item in content -->
    <li role="presentation" ng-class="{divider: item.divider}" ng-repeat="item in content" class="ng-scope">
        <!-- ngIf: !item.divider && item.href --> <!-- ngIf: !item.divider && item.click --><a role="menuitem"
                                                                                               tabindex="-1" href=""
                                                                                               ng-if="!item.divider &amp;&amp; item.click"
                                                                                               ng-click="$eval(item.click);$hide()"
                                                                                               ng-bind="item.text"
                                                                                               class="ng-scope ng-binding">退出登录</a><!-- end ngIf: !item.divider && item.click -->
    </li>
    <!-- end ngRepeat: item in content --></ul>
</body>
</html>