<div class="bui-combox bui-select bui-tag-follow" aria-disabled="false" tabindex="0" hidefocus="true"
     style="min-width: 450px;" aria-pressed="false">
    <div class="bui-simple-list" aria-disabled="false" aria-pressed="false">
        <ul id="tag-list-ul">

        </ul>
    </div>
    <input type="text" class="bui-combox-input tag-combox-input" placeholder="输入标签">
    <input type="hidden" class="bui-combox-input-hid tag-combox-input-hid" />
</div>

<div id="tag-list-picker" class="bui-list-picker bui-picker bui-overlay bui-ext-position x-align-bl-tl bui-list-picker-hover bui-picker-hover bui-overlay-hover"
     aria-disabled="false"
     style="visibility: visible; min-width: 450px; display: none;">
    <div class="bui-simple-list bui-select-list bui-simple-list-hover" aria-disabled="false">
        <ul id="tag-list-picker-ul">
        </ul>
    </div>
</div>