<div id="picture-setting"  class="picture-setting form-horizontal ">
    <div id="PluginPicture" class="picture-setting-img">
        <div class="pic-sample" style="float: left;">
             <img src="{{CONST 'PIC_URL'}}/{{src}}" width="100%" height="100%"  alt="{{alt}}"/>
        </div>
        <div class="pic_upload">
            <p>从本地或资源中心选择您要展示的图片</p>
            <button type="button" class="button picUpload">更换图片</button>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">链接地址：</label>
        <div class="controls">
                <input type="text"  id="model-link" value="{{link}}" name="{{link}}">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">链接类型：</label>
        <div class="controls">
            {{{radio name="linkType" value=linkType option='{"新窗口": "_blank", "本窗口": "_self"}'}}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">图片说明：</label>
        <div class="controls">
            <input type="text"  id="model-alt" value="{{alt}}" name="{{alt}}">
        </div>
    </div>
</div>
<style>
  .picture-setting{
      width: 316px;
  }
  .pic-sample{
      float: left;
      margin-right: 24px;
      border: 1px solid #c0c0c0;
      padding: 1px;
      margin-top: 3px;
      width: 74px;
      height: 74px;
      overflow: hidden;
  }
  .picture-setting-img{height: 90px;}
  .picture-setting-img img{
      height: 48px;
      width: 74px;
      margin-top: 13px;
  }
  .pic_upload p{
      height: 40px;
      line-height: 40px;
      font-family: 'Microsoft yahei';
  }

  .form-horizontal .control-label {
      width: 77px;padding:0;
  }
</style>



