@charset "utf-8";
html {
    background: #fff;
    overflow: auto;
    -webkit-text-size-adjust: none;
}

* html, * html body {
    background-image: url(about:blank);
    background-attachment: fixed;
    overflow: hidden;
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block
}

body, button, input, select, textarea {
    font: 12px Tahoma, Arial, Microsoft YaHei, '微软雅黑', '宋体', sans-serif;
    background: #fff
}

input, select, textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show
}

hr {
    border: 0;
    height: 1px
}

fieldset, img {
    border: 0 solid #fff;
    vertical-align: middle
}

img {
    -ms-interpolation-mode: bicubic
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500
}

code, kbd, pre, samp {
    font-family: "Courier New", Courier, monospace
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-size: 100%
}

p {
    line-height: 2em
}

q:after, q:before {
    content: ''
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

label {
    display: inline-block;
    text-align: right;
    cursor: pointer
}

:focus {
    outline: 0
}

a:hover {
    text-decoration: underline;
    color: #FF7300
}

a, ins {
    text-decoration: none;
    color: #777
}

.vm {
    vertical-align: middle
}

.clear {
    clear: both
}

.clearfix:after, .cont:after, .container:after, .title:after, body:after, html:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clearfix {
    zoom: 1
}

.hide {
    display: none
}

.block, .show {
    display: block
}

.inline, .left, .right {
    display: inline
}

.left {
    float: left !important
}

.right {
    float: right !important
}

.pointer {
    cursor: pointer
}

.pointer:hover {
    color: #FF7B01;
    text-decoration: underline
}

.underline {
    text-decoration: underline
}

.relative {
    position: relative;
}

.bold {
    font-weight: 700
}

.center {
    text-align: center
}

.noborder {
    border: none !important
}

.ime-disabled {
    ime-mode: disabled !important
}

body .mt5 {
    margin-top: 5px
}

body .ml5 {
    margin-right: 5px
}

body .mb5 {
    margin-bottom: 5px
}

body .p0 {
    padding: 0
}

body .m0 {
    margin: 0
}

.white {
    color: #fff
}

.gray {
    color: #999
}

.lessGray {
    color: #ccc
}

.blue {
    color: #3764DF
}

.darkBlue {
    color: #00349A
}

.skyBlue {
    color: #06c
}

.yellow {
    color: #FF9F22
}

.purple {
    color: #6D4594
}

.green {
    color: #00823F
}

.lessGreen {
    color: #9C0
}

.pink {
    color: #FF2F4F
}

.lessPink {
    color: #F99
}

.orange {
    color: #FF7300
}

.red {
    color: red
}

.brown {
    color: #610303
}

.rice {
    color: #FFE9AF
}

.black {
    color: #333
}

.bg-white {
    background-color: #fff
}

.bg-gray {
    background-color: #efefef
}

.bg-lessGray {
    background-color: #F9F9F9
}

.bg-leastGray {
    background-color: #fafafa
}
