<style>
    .check-list {
        overflow: hidden;
    }

    .check-list .check-item {
        position: relative;
        float: left;
        width: 40px;
        overflow: hidden;
        margin-right: 5px;
        cursor: pointer;
    }

    .check-list .check-item .check-icon {
        display: none;
    }

    .check-list .check-item.checked .check-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 14px;
        height: 14px;
        display: block;
        z-index: 1000;
    }

    .form-horizontal .control-label {
        width: 104px;
    }
</style>
<div class="form-horizontal">
    <audio id="xaudio" preload="metadata" autoplay="autoplay" loop="loop">
        <source id="xaudio-source" src='' type="audio/mpeg">
    </audio>
    <div class="control-group">
        <label class="control-label">音 乐</label>

        <div class="controls">
            <div id="music-src">
                <input id="model-src" name="src" class="music_src" value="{{src}}"
                       type="hidden">
            </div>
        </div>
    </div>
    <div class="control-group music-src-define">
        <label class="control-label">自定义网址：</label>

        <div class="controls">
            <input id="model-custom" name="custom" value="{{custom}}" type="text" class="input-large music_custom"
                   data-tip='{"text":"请使用网络音乐网址， 如百度音乐"}'/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">音乐图标：</label>
        <div id="check-list" class="controls control-row-auto">

        </div>
    </div>
    <div class="control-group">
        <label class="control-label">自定义图标</label>

        <div class="controls control-row-auto">
            <div id="music_pic">
                <input id="model-pic" name="pic" value="{{pic}}" type="hidden" class="input-music-pic input-large"
                       data-tip='{"text":"请使用网络音乐网址， 如百度音乐"}'/>
            </div>
        </div>
    </div>
</div>